<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render("partials/navbar") %>
      <%= render("partials/sidebar") %>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
    <div class="notifycation">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
<%= javascript_include_tag 'users/index.js' %>
